<a href="https://colab.research.google.com/github/maedeamooshahi/datamining-6-7/blob/main/Untitled27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import tensorflow as tf
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Conv1D, Dropout, Dense, Flatten, LSTM, MaxPooling1D, Bidirectional
from keras import backend as K

In [5]:
train=pd.read_csv('/content/train.csv')
train

,Column1,comment,label,label_id
0,0,واقعا حیف وقت که بنویسم سرویس دهیتون شده افتضاح,SAD,1
1,1,قرار بود ۱ ساعته برسه ولی نیم ساعت زودتر از مو...,HAPPY,0
2,2,قیمت این مدل اصلا با کیفیتش سازگاری نداره، فقط...,SAD,1
3,3,عالللی بود همه چه درست و به اندازه و کیفیت خوب...,HAPPY,0
4,4,شیرینی وانیلی فقط یک مدل بود.,HAPPY,0
...,...,...,...,...
56695,56695,یک تیکه کم فرستاده بودن و با تماس من در کمترین...,HAPPY,0
56696,56696,عالی بود همه چیز ممنونم پیک هم خیلی مرتب و به ...,HAPPY,0
56697,56697,مثل همیشه عالی، من چندمین باره سفارش میدم و هر...,HAPPY,0
56698,56698,دلستر استوایی خواسته بودم اما لیمویی فرستادند,HAPPY,0
56699,56699,جای مرغ گریل شده ناگت بود، به این نمی‌گن چیکن ...,SAD,1

In [6]:
train.drop(['Column1','label'], inplace=True,axis=1)
train

                                                 comment  label_id
0        واقعا حیف وقت که بنویسم سرویس دهیتون شده افتضاح         1
1      قرار بود ۱ ساعته برسه ولی نیم ساعت زودتر از مو...         0
2      قیمت این مدل اصلا با کیفیتش سازگاری نداره، فقط...         1
3      عالللی بود همه چه درست و به اندازه و کیفیت خوب...         0
4                          شیرینی وانیلی فقط یک مدل بود.         0
...                                                  ...       ...
56695  یک تیکه کم فرستاده بودن و با تماس من در کمترین...         0
56696  عالی بود همه چیز ممنونم پیک هم خیلی مرتب و به ...         0
56697  مثل همیشه عالی، من چندمین باره سفارش میدم و هر...         0
56698      دلستر استوایی خواسته بودم اما لیمویی فرستادند         0
56699  جای مرغ گریل شده ناگت بود، به این نمی‌گن چیکن ...         1

[56700 rows x 2 columns]

In [7]:
dev=pd.read_csv('/content/dev.csv')
dev

,Column1,comment,label,label_id
0,0,همه ساندویچ‌ها سرد بود متاسفانه در صورتی که فا...,SAD,1
1,1,تشکر، عالی‌تر از همیشه,HAPPY,0
2,2,مرغ و کدو رو دوس نداشتم ولی کلا ساندویچهای خوش...,HAPPY,0
3,3,نمیدونم هزینه بسته بندی به چه دلیل گرفته شد؟؟؟,SAD,1
4,4,یک نوشابه کم ارسال شد و تاخیر فراوان و غذای نس...,SAD,1
...,...,...,...,...
6295,6295,سلام من به فاکتور غذاهایی که سفارش میدم احتیاج...,SAD,1
6296,6296,سایز پیتزا نسبت به سفارشاتی که قبلا گذشتم کم ش...,SAD,1
6297,6297,من قارچ اضافه رو اضافه کرده بودم بودم اما اگر ...,HAPPY,0
6298,6298,همرو بعد ۲ساعت تاخیر اشتباه آوردن پولشم رفت رو...,SAD,1
6299,6299,فلفلش خییییلی تند بود.,HAPPY,0

In [8]:
dev.drop(['Column1','label'], inplace=True,axis=1)
dev

                                                comment  label_id
0     همه ساندویچ‌ها سرد بود متاسفانه در صورتی که فا...         1
1                                تشکر، عالی‌تر از همیشه         0
2     مرغ و کدو رو دوس نداشتم ولی کلا ساندویچهای خوش...         0
3        نمیدونم هزینه بسته بندی به چه دلیل گرفته شد؟؟؟         1
4     یک نوشابه کم ارسال شد و تاخیر فراوان و غذای نس...         1
...                                                 ...       ...
6295  سلام من به فاکتور غذاهایی که سفارش میدم احتیاج...         1
6296  سایز پیتزا نسبت به سفارشاتی که قبلا گذشتم کم ش...         1
6297  من قارچ اضافه رو اضافه کرده بودم بودم اما اگر ...         0
6298  همرو بعد ۲ساعت تاخیر اشتباه آوردن پولشم رفت رو...         1
6299                             فلفلش خییییلی تند بود.         0

[6300 rows x 2 columns]

In [9]:
train=train.drop_duplicates(subset=None, keep='first', inplace=False)
train

                                                 comment  label_id
0        واقعا حیف وقت که بنویسم سرویس دهیتون شده افتضاح         1
1      قرار بود ۱ ساعته برسه ولی نیم ساعت زودتر از مو...         0
2      قیمت این مدل اصلا با کیفیتش سازگاری نداره، فقط...         1
3      عالللی بود همه چه درست و به اندازه و کیفیت خوب...         0
4                          شیرینی وانیلی فقط یک مدل بود.         0
...                                                  ...       ...
56695  یک تیکه کم فرستاده بودن و با تماس من در کمترین...         0
56696  عالی بود همه چیز ممنونم پیک هم خیلی مرتب و به ...         0
56697  مثل همیشه عالی، من چندمین باره سفارش میدم و هر...         0
56698      دلستر استوایی خواسته بودم اما لیمویی فرستادند         0
56699  جای مرغ گریل شده ناگت بود، به این نمی‌گن چیکن ...         1

[56696 rows x 2 columns]

In [11]:
tokenizer = Tokenizer(num_words = 100000, oov_token='<oov>')
tokenizer.fit_on_texts(train['comment'])

In [17]:
train_comments=tokenizer.texts_to_sequences(train['comment'])
test_comments=tokenizer.texts_to_sequences(dev['comment'])

training_padded=pad_sequences(train_comments,maxlen=100,truncating='post')
testing_padded=pad_sequences(test_comments,maxlen=100,truncating='post')

In [41]:
from keras.models import Sequential
from keras.layers import Conv1D, Dropout, Dense
covnet = tf.keras.Sequential([
                    tf.keras.layers.Embedding(100000,    32, input_length=100)
                    ])
covnet.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, 100, 32)           3200000

=================================================================
Total params: 3,200,000
Trainable params: 3,200,000
Non-trainable params: 0
_________________________________________________________________

In [42]:
covnet.add(Conv1D(32, kernel_size=3, activation='elu', padding='same'))
covnet.add(tf.keras.layers.Flatten())
covnet.add(tf.keras.layers.Dense(1, activation='sigmoid'))

In [43]:
covnet.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, 100, 32)           3200000

 conv1d_6 (Conv1D)           (None, 100, 32)           3104

 flatten_3 (Flatten)         (None, 3200)              0

 dense_3 (Dense)             (None, 1)                 3201

=================================================================
Total params: 3,206,305
Trainable params: 3,206,305
Non-trainable params: 0
_________________________________________________________________

In [44]:
covnet.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [47]:
prediction =covnet.fit(training_padded, train['label_id'], epochs=5, validation_data=(testing_padded, dev['label_id']))

Epoch 1/5
1772/1772 [==============================] - 84s 47ms/step - loss: 0.0414 - accuracy: 0.9852 - val_loss: 1.2803 - val_accuracy: 0.7775
Epoch 2/5
1772/1772 [==============================] - 71s 40ms/step - loss: 0.0379 - accuracy: 0.9860 - val_loss: 1.3439 - val_accuracy: 0.7798
Epoch 3/5
1772/1772 [==============================] - 71s 40ms/step - loss: 0.0356 - accuracy: 0.9870 - val_loss: 1.4252 - val_accuracy: 0.7798
Epoch 4/5
1772/1772 [==============================] - 71s 40ms/step - loss: 0.0333 - accuracy: 0.9877 - val_loss: 1.5083 - val_accuracy: 0.7759
Epoch 5/5
1772/1772 [==============================] - 70s 40ms/step - loss: 0.0318 - accuracy: 0.9880 - val_loss: 1.6246 - val_accuracy: 0.7635

In [49]:
plt(prediction, 'accuracy')

TypeError: ignored

In [48]:
plt(prediction, 'loss')

NameError: ignored